@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#plasmo-shadow-container {
  all: initial;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

/* Custom scrollbar styles */
.space-y-3 > *::-webkit-scrollbar {
  width: 4px;
}

.space-y-3 > *::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.space-y-3 > *::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 2px;
}

.space-y-3 > *::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}
